/GUI_Calculator/SimpleCalculator/build/
/GUI_Calculator/SimpleCalculator/dist/
*/build
*/dist
/PrintWriterExample/nbproject/private/
/PrintWriterExample1/nbproject/private/
/PrintWriterExample2/nbproject/private/
/ReadingTextFiles/nbproject/private/
/ReadingTextFiles2/nbproject/private/
/PrintWriterBigInteger/nbproject/private/